.darkBG {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 700%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  z-index: 1;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  padding: 12px;
}

.modalContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.modalContent button {
  border-radius: 0;
  margin-top: 12px;
}

/* .closeBtn {
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  align-self: flex-start;
  border: 0;
  background: white;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
} */
